---
import { CalendarIcon, TagIcon } from "../util/Icons";

const { frontmatter } = Astro.props;
---

<figure class="group">
  <img
    src={frontmatter.image.url}
    alt={frontmatter.image.alt}
    class="aspect-video"
  />
  <figcaption class="text-center opacity-0 group-hover:opacity-100">
    {frontmatter.image.alt}
  </figcaption>
</figure>

<h1 class="blog-title">
  {frontmatter.title}
</h1>
<div class="mb-3">
  <div class="flex gap-3">
    <div class="flex gap-1">
      <CalendarIcon className="size-4 stroke-1" />
      <p class="font-mono text-sm opacity-90">
        {
          frontmatter.date
            .toLocaleDateString("en-GB", {
              day: "numeric",
              month: "short",
              year: "numeric",
            })
            .slice(0, 11)
        }
      </p>
    </div>
    <!-- <Heart client:load /> -->
  </div>
  <div class="group flex items-center gap-2">
    <TagIcon
      className="fill-background stroke-foreground group-hover:fill-foreground group-hover:stroke-background size-4 stroke-1"
    />
    <div class="space-x-1">
      {
        frontmatter.tags.map((tag: string) => (
          <a href={`/tags/${tag}`} class="hover:text-accent text-sm opacity-90">
            {tag}
          </a>
        ))
      }
    </div>
  </div>
</div>
