---
import {
  liClass,
  titleClass,
  subTitleClass,
  descClass,
  iconClass,
} from "../../styles/utility";
import { CalendarIcon } from "../misc/Icons";

const { title, date, description, url } = Astro.props;
---

<a href={url} class={liClass}>
  <h3 class={titleClass}>
    {title}
  </h3>
  <div class="flex flex-col">
    <div class="flex gap-2">
      <p class={`${subTitleClass}`}>
        <CalendarIcon className={iconClass} />
        {date}
      </p>
      <p class="opacity-0 group-hover:opacity-100">Hearts</p>
    </div>
    <em class={descClass}>{description}</em>
  </div>
</a>
