---
import {
  liClass_,
  titleClass_,
  subTitleClass_,
  iconClass_,
} from "../../styles/utility";
import { CalendarIcon } from "../misc/Icons";

const { title, date, url } = Astro.props;
---

<a href={url} class={liClass_}>
  <h3 class={titleClass_}>
    {title}
  </h3>
  <div class="flex flex-col gap-1">
    <div class="mx-3 flex space-x-3">
      <p class={`${subTitleClass_}`}>
        {date}
      </p>
      <p class={subTitleClass_}>Hearts</p>
    </div>
  </div>
</a>
