---
import {
  GithubIcon,
  LinkedinIcon,
  RssIcon,
  YoutubeIcon,
  DiscordIcon,
} from "../components/misc/Icons";
import { urlClass } from "./misc/class";
const className =
  "size-8 stroke-1 hover:stroke-accent-light dark:hover:stroke-accent-dark active:size-6";
---

<footer class="mx-4 mt-18 mb-4">
  <div class="mb-8 flex items-center justify-center space-x-8">
    <a href="https://github.com/8366888C" target="blank"
      ><GithubIcon className={className} /></a
    >
    <a href="https://youtube.com/@iron-lobby" target="blank"
      ><YoutubeIcon className={className} /></a
    >
    <a href="https://in.linkedin.com" target="blank"
      ><LinkedinIcon className={className} /></a
    >
    <a href="https://discord.com" target="blank"
      ><DiscordIcon className={className} /></a
    >
    <a href="/rss.xml"><RssIcon className={className} /></a>
  </div>
  <div class="flex items-center justify-between text-sm">
    <p>© 2025 Rahul</p>
    <p>
      powered by <a
        href=""
        class="hover:text-accent-light dark:hover:text-accent-dark opacity-100"
        >Astro</a
      > & <a
        href=""
        class="hover:text-accent-light dark:hover:text-accent-dark opacity-100"
        >Luna</a
      >
    </p>
  </div>
</footer>
