---
import {
  GithubIcon,
  LinkedinIcon,
  RssIcon,
  YoutubeIcon,
  DiscordIcon,
} from "../components/misc/Icons";
import {
  footerIconClass,
  footerMargin,
  socialMediaClass,
} from "../styles/utility";
---

<footer class={`${footerMargin}`}>
  <div class={`${socialMediaClass}`}>
    <a href="https://github.com/8366888C" target="blank"
      ><GithubIcon className={footerIconClass} /></a
    >
    <a href="https://youtube.com/@iron-lobby" target="blank"
      ><YoutubeIcon className={footerIconClass} /></a
    >
    <a href="https://in.linkedin.com" target="blank"
      ><LinkedinIcon className={footerIconClass} /></a
    >
    <a href="https://discord.com" target="blank"
      ><DiscordIcon className={footerIconClass} /></a
    >
    <a href="/rss.xml"><RssIcon className={footerIconClass} /></a>
  </div>
  <div class="text-faint flex items-center justify-between text-sm">
    <p>© 2025 Rahul</p>
    <p>
      powered by <a
        href="https://astro.build"
        target="blank"
        class="hover:text-accent">Astro</a
      > &
      <a href="" class="hover:text-accent">Luna</a>
    </p>
  </div>
</footer>
