---
import Seo from "../components/utils/Seo.astro";
import Header from "../components/layout/Header.astro";
import PageTransitions from "../components/utils/PageTransitions.astro";
import Footer from "../components/layout/Footer.astro";
const { title, description, image, url } = Astro.props;
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Seo {title} {description} {image} {url} />
    <ViewTransitions />
  </head>
  <body>
    <PageTransitions>
      <Header />
      <slot />
      <Footer />
    </PageTransitions>
  </body>
</html>

<script is:inline>
  try {
    const saved = localStorage.getItem("theme");
    const prefersDark = window.matchMedia(
      "(prefers-color-scheme: dark)",
    ).matches;
    const prefersLight = window.matchMedia(
      "(prefers-color-scheme: dark",
    ).matches;

    if (saved === "dark" || (!saved && prefersDark)) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  } catch (_) {}
</script>
