---
import ProgressBar from "../components/ui/ProgressBar";
import { bodyMargin } from "../styles/utility";
import BaseLayout from "./BaseLayout.astro";
import BlogHeader from "../components/layout/BlogHeader.astro";

const { frontmatter } = Astro.props;
---

<ProgressBar client:load />

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.image.url}
  url={`https://lunakit.netlify.app/posts/${frontmatter.title}`}
>
  <main class={`${bodyMargin}`}>
    <article>
      <BlogHeader frontmatter={frontmatter} />
      <div class="markdown">
        <slot />
      </div>
    </article>
  </main>
</BaseLayout>
